.saved-places-overlay {
  // display: none;
  position: absolute;
  width: 260px;
  right: -2rem;
  padding: 1rem;
  height: 100%;
  overflow: scroll;
  z-index: 1;

  .place-container {
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
    border-radius: 4px;
    background-color: $color_white;
    box-shadow: 0px 2px 4px rgba(19, 46, 47, 0.2);

    .title,
    .coordinates {
      margin: 0;
    }

    .title,
    .opening-hours {
      color: $color_primary;
    }

    .coordinates {
      color: $color_text-grey;
      font-size: 0.6875rem;

      p {
        margin: 0;
      }
    }

    .description {
      color: $color_text-grey;
    }

    .delete-place-btn {
      path {
        fill: #e8635a;
        fill-rule: evenodd;
        clip-rule: evenodd;
        transform-origin: 8px 8px;
      }

      .lid {
        animation: lid-down 0.15s ease-in forwards;
      }

      &:hover {
        .lid {
          animation: lid-up 0.15s ease-in forwards;
        }
      }
    }
  }
}

.active {
  display: block;
  animation: places-in 0.25s ease-out forwards;
}

.hide {
  display: block;
  animation: places-out 0.25s ease-out forwards;
}

@keyframes places-in {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-276px);
  }
}

@keyframes places-out {
  0% {
    transform: translateX(-276px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes lid-up {
  from {
    transform: rotate();
  }
  to {
    transform: rotate(-15deg);
  }
}
@keyframes lid-down {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(0);
  }
}
