.sidebar {
  padding: 1rem;
  max-width: 220px;
  background-color: $color_primary;
  z-index: 10;

  .search-container {
    height: 2.25rem;
    display: flex;
    box-shadow: 0px 2px 4px rgba(19, 46, 47, 0.2);

    input {
      border-radius: 2px 0px 0px 2px;
      flex: 1;
    }
  }
}
