@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@keyframes places-in {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-276px);
  }
}
@keyframes places-out {
  0% {
    transform: translateX(-276px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes lid-up {
  from {
    transform: rotate();
  }
  to {
    transform: rotate(-15deg);
  }
}
@keyframes lid-down {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes logo-drop {
  0% {
    transform: translateY(-60px);
  }
  30% {
    transform: translateY(0px);
  }
  50% {
    transform: rotateZ(15deg);
  }
  70% {
    transform: rotateZ(-10deg);
  }
  85% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  font-family: "Open Sans", sans-serif;
}
body h4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
body input,
body textarea {
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#logo-container {
  display: flex;
  align-items: center;
}
#logo-container h1 {
  margin-right: 0.5rem;
}
#logo-container #logo {
  transform-origin: bottom;
  transform: translateY(-60px);
  opacity: 0;
}
#logo-container #logo.animate {
  opacity: 1;
  animation: logo-drop 0.7s cubic-bezier(0.57, 0.21, 0.69, 1.25) 0.5s forwards;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15vw;
}
@media (max-width: 576px) {
  .wrapper {
    padding: 0;
  }
}
.wrapper .card {
  width: 100%;
  display: flex;
  flex: 1;
  margin-bottom: 4rem;
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1), 0 4px 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .wrapper .card {
    width: 100vw;
    height: 100vh;
    margin-bottom: 0;
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
  }
}
.wrapper .card .map {
  flex: 1;
}

.form-container form {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.form-container form h4 {
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.form-container form p {
  margin: 0;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}
.form-container form label {
  font-size: 0.875rem;
  font-weight: 700;
}
.form-container form input {
  margin: 4px 0px 1rem 2px;
  font-family: "Open Sans", sans-serif;
  color: #152f30;
}
.form-container form #tags {
  margin-bottom: 0;
}
.form-container form textarea {
  margin: 4px 0px 1rem 4px;
  resize: vertical;
  margin-bottom: 1rem;
}
.form-container form .opening-hours {
  display: flex;
}
.form-container form .opening-hours .container {
  flex: 1;
}
.form-container form .opening-hours .container:nth-of-type(1) {
  margin-right: 0.5rem;
}
.form-container form .opening-hours .container:nth-of-type(2) {
  margin-left: 0.5rem;
}
.form-container form .opening-hours .container input {
  width: calc(100% - 4px);
}

.sidebar {
  padding: 1rem;
  max-width: 220px;
  background-color: #2d7274;
  z-index: 10;
  overflow-y: scroll;
  transition: all 0.15s linear;
}
@media (max-width: 576px) {
  .sidebar {
    max-width: 100%;
    max-height: 300px;
    padding: 2rem;
  }
}
.sidebar .search-container {
  height: 2.25rem;
  display: flex;
  box-shadow: 0px 2px 4px rgba(19, 46, 47, 0.2);
}
.sidebar .search-container input {
  border-radius: 2px 0px 0px 2px;
  flex: 1;
}
.sidebar #tags-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0.25rem 0 1rem -0.25rem;
}
.sidebar #tags-container .tag-element {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 2px;
  border: 1px solid white;
}
.sidebar #tags-container .tag-element p {
  margin: 0;
  margin-top: -2px;
  margin-right: 0.5rem;
}
.sidebar.edit {
  background-color: #f47455;
}

button {
  padding: 0.5rem;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: #ffc09d;
  text-shadow: 1px 1px 4px rgba(47, 32, 23, 0.2);
  box-shadow: 0px 2px 4px rgba(19, 46, 47, 0.1);
  transition: all 0.15s ease;
}
button:hover {
  box-shadow: 0 6px 12px rgba(19, 46, 47, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}
button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(19, 46, 47, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
}

#search-btn {
  box-shadow: none;
  border-radius: 0px 2px 2px 0px;
  padding: 1px 6px;
}
#search-btn:hover {
  transform: none;
  box-shadow: none;
}
#search-btn:active {
  transform: none;
  box-shadow: none;
}

#submit-btn {
  padding: 0.5rem;
}

#save-btn {
  display: none;
}

#cancel-btn {
  display: none;
  background: none;
  border: 1px solid #ffc09d;
  margin-top: 1rem;
}

.edit-btn {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.edit-btn:hover {
  box-shadow: 0 6px 12px rgba(255, 139, 86, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.edit-btn:active {
  box-shadow: 0 4px 10px rgba(255, 139, 86, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
}

.delete-place-btn {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
  cursor: pointer;
}

.remove-tag-btn {
  width: 12px;
  height: 12px;
  background-image: url("../img/delete-tag-icon.svg");
  cursor: pointer;
}

.saved-places-overlay {
  position: absolute;
  width: 260px;
  right: -2rem;
  padding: 1rem;
  height: 100%;
  overflow: scroll;
  z-index: 1;
}
@media (max-width: 576px) {
  .saved-places-overlay {
    display: none;
    padding: 0;
    height: 50%;
    width: 100%;
    left: 0;
    animation: none;
    overflow: scroll;
  }
}
.saved-places-overlay .place-container {
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(19, 46, 47, 0.2);
}
@media (max-width: 576px) {
  .saved-places-overlay .place-container {
    margin: 1rem;
  }
}
.saved-places-overlay .place-container .title,
.saved-places-overlay .place-container .coordinates {
  margin: 0;
}
.saved-places-overlay .place-container .title,
.saved-places-overlay .place-container .opening-hours {
  color: #2d7274;
}
.saved-places-overlay .place-container .coordinates {
  color: #6a6a6a;
  font-size: 0.6875rem;
}
.saved-places-overlay .place-container .coordinates p {
  margin: 0;
}
.saved-places-overlay .place-container .description {
  color: #6a6a6a;
}
.saved-places-overlay .place-container .tags-container {
  margin-left: -0.25rem;
  display: flex;
  flex-wrap: wrap;
}
.saved-places-overlay .place-container .tags-container .tag {
  margin: 0.25rem;
  padding: 0.25rem;
  font-size: 0.875rem;
  color: #2d7274;
  border-radius: 2px;
  border: 1px solid #2d7274;
}
.saved-places-overlay .place-container .delete-place-btn path {
  fill: #e8635a;
  fill-rule: evenodd;
  clip-rule: evenodd;
  transform-origin: 8px 8px;
}
.saved-places-overlay .place-container .delete-place-btn .lid {
  animation: lid-down 0.15s ease-in forwards;
}
.saved-places-overlay .place-container .delete-place-btn:hover .lid {
  animation: lid-up 0.15s ease-in forwards;
}

.active {
  display: block;
  animation: places-in 0.25s ease-out forwards;
}
@media (max-width: 576px) {
  .active {
    animation: none;
    display: flex;
    flex-direction: column;
  }
}

.hide {
  display: block;
  animation: places-out 0.25s ease-out forwards;
}

/*# sourceMappingURL=main.css.map */
